*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    padding: auto;
    /* align-items: center; */
    
}
.box_nav{
    height: 30px;
    background-color: goldenrod;
    border: 1px solid black;
    margin: 10px 0;
}
.link{
    flex-grow: 1;
    text-align: center;
}
header{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.header-content{
    background-color: pink;
    width: 50%;
    height: 300px;
}
.section_main{
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
}
.gr{
    background-color: gray;
}
.main-big-content{
    background-color: #1e90ff;
    width: 40%;
    height: 80%;
}
.main-small-content{
    background-color: #ffc0cb;
    width: 20%;
    height: 80%;
}
.last{
    height: 800px;
}
.green_box{
    height: 90%;
    width: 60%;
    background-color: green;
}
.section_footer{
    display: flex;
    height: 400px;
    justify-content: center;
    background-color: #23272a;
    border-bottom: 1px solid #ccc;
    padding-top: 1%;
}
.end{
    height: 100px;
}
.footer-small-content{
    background-color: #f08080;
    width: 20%;
    height: 90%;
}
.footer-big-content{
    background-color: #20b2aa;
    width: 40%;
    height: 90%;
}
.section_footer_end{
    height: 100px;
    background-color: #23272a;
}

.footer{
    display: flex;
    width: 60%;
    height: 80%;
    background-color: #7fffd4;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.logo, button{
    background-color: #ffb6c1;
    height: 22px;
    padding: 3px;
}