*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-top{
    background-color: lightblue;
    height: 80px;
    display: flex;
    align-items: center;
}
.container{
    margin: auto;
    width: 60%;

}
.navigation-area{
    display: flex;
}
.logo, nav, .login{
    border: 1px dotted black;
    background-color: goldenrod;
    padding: 5px;
}
.logo{
    width: 20%;
}
nav{
    width: 60%;
    text-align: center;
}
.login{
    width: 20%;
    text-align: right;
}
.header-bottom{
    background-color: blue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    background-color: pink;
    width: 50%;
    height: 300px;
}
.nav-col{
    padding: 10px 0;
}
ul{
    list-style-type: none;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu li{
    padding: 0 15px;
}
.menu li a{
    text-decoration: none;
}


.section_main{
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
}
.gr{
    background-color: gray;
}
.main-big-content{
    background-color: #1e90ff;
    width: 40%;
    height: 80%;
}
.main-small-content{
    background-color: #ffc0cb;
    width: 20%;
    height: 80%;
}
.last{
    height: 800px;
}
.green_box{
    height: 90%;
    width: 60%;
    background-color: green;
}
.footer-top{
    display: flex;
    height: 400px;
    justify-content: center;
    background-color: #23272a;
    border-bottom: 1px solid #ccc;
    padding-top: 1%;
}
.end{
    height: 100px;
}
.footer-small-content{
    background-color: #f08080;
    width: 20%;
    height: 90%;
}
.footer-big-content{
    background-color: #20b2aa;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
}
.footer-column{
    border: 1px dotted black;
    width: calc(100% / 4);
}
.footer-bottom{
    background-color: #23272a;
    display: flex;
    justify-content: center;
}
.footer-bottom-content{
    background-color: #20b2aa;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.buttons{
    background-color: #f08080;
    margin: 20px 0;
    padding: 5px;
}